$font: #000000;
$font2: #ffffff;
$body: #42428b;
$background-card-button-active: #5e5ec4;
$ilght-blue2: #adb2f1;
$ilght-blue3: #565ba1;
$ilght-blue: #f8f8f8;
//$ilght-blue: #C3D7D8;
//$blue: #7AA0A3;
$blue: #fdfdfd;
//$dark-blue: #486e70;
$dark-blue: #ffffff;
//$dark-blue: #4D686A;
//$pink: #F2B8A0;
$pink: #42428b;
$header: hsl(235, 53%, 17%);
$header-full: #42428b;